<c-container>
  <c-card class="mb-4 card">
    <c-card-body>
      <c-row>
        <c-col>
          <h1>Nouveau Demande</h1>
        </c-col>
      </c-row>
      <c-row class="row-detail">
        <c-col>
          <div class="mb-3">
            <label cFormCheckLabel for="renew" style="margin-right: 5px"
              >Renouvellement
            </label>
            <input
              cFormCheckInput
              id="renew"
              type="checkbox"
              [(ngModel)]="renew"
            />
          </div>
        </c-col>
      </c-row>
      <c-row class="row-detail">
        <c-col>
          <div [cFormFloating]="true" class="mb-3">
            <input
              [valid]="validation.account ? false : undefined"
              cFormControl
              id="accountNumber"
              [value]="request.account?.accountNumber"
              disabled
            />
            <label cLabel for="accountNumber">Numéro de compte</label>
            <c-form-feedback [valid]="validation.account ? false : undefined">{{
              validation.account
            }}</c-form-feedback>
          </div>
        </c-col>
        <c-col>
          <button cButton (click)="openModal()">Ajouter compte</button>
        </c-col>
      </c-row>
      <c-row class="row-detail">
        <c-col>
          <div [cFormFloating]="true" class="mb-3">
            <select
              cFormControl
              cSelect
              id="cardType"
              [(ngModel)]="request.cardType"
              [valid]="validation.cardType ? false : undefined"
            >
              <option *ngFor="let cardType of cardTypes" [ngValue]="cardType">
                {{ cardType.label }}
              </option>
            </select>
            <label cLabel for="cardType">Type de carte</label>
            <c-form-feedback
              [valid]="validation.cardType ? false : undefined"
              >{{ validation.cardType }}</c-form-feedback
            >
          </div>
        </c-col>
        <c-col>
          <div [cFormFloating]="true" class="mb-3">
            <input
              [valid]="validation.nameOnCard ? false : undefined"
              cFormControl
              name="nameOnCard"
              [(ngModel)]="request.nameOnCard"
            />
            <label cLabel for="nameOnCard">Nom sur la carte</label>
            <c-form-feedback
              [valid]="validation.nameOnCard ? false : undefined"
              >{{ validation.nameOnCard }}</c-form-feedback
            >
          </div>
        </c-col>
        <c-col>
          <div [cFormFloating]="true" class="mb-3">
            <input
              cFormControl
              name="cardLimit"
              [(ngModel)]="request.cardLimit"
              type="number"
              [valid]="validation.cardLimit ? false : undefined"
            />
            <label cLabel for="cardLimit">Limite de la carte</label>
            <c-form-feedback
              [valid]="validation.cardLimit ? false : undefined"
              >{{ validation.cardLimit }}</c-form-feedback
            >
          </div>
        </c-col>
      </c-row>
      <c-row class="row-detail">
        <c-col [cCol]="3">
          <div [cFormFloating]="true" class="mb-3">
            <select
              cSelect
              id="langSms"
              [(ngModel)]="request.smsLang"
              [valid]="validation.smsLang ? false : undefined"
            >
              <option value="AR">Arabe</option>
              <option value="FR">Français</option>
            </select>
            <label cLabel for="langSms">Langue de sms</label>
            <c-form-feedback [valid]="validation.smsLang ? false : undefined">{{
              validation.smsLang
            }}</c-form-feedback>
          </div>
        </c-col>
      </c-row>
      <c-row class="row-detail">
        <c-col>
          <div *ngIf="renew" [cFormFloating]="true" class="mb-3">
            <select
              cSelect
              id="renewMonth"
              [(ngModel)]="request.renewMonth"
              [valid]="validation.renewMonth ? false : undefined"
            >
              <option *ngFor="let month of months; let i = index" [value]="i">
                {{ month | date: "MMMM" }}
              </option>
            </select>
            <label cLabel for="renewMonth">Mois de renouvellement</label>
            <c-form-feedback
              [valid]="validation.renewMonth ? false : undefined"
              >{{ validation.renewMonth }}</c-form-feedback
            >
          </div>
        </c-col>
        <c-col>
          <div *ngIf="renew" [cFormFloating]="true" class="mb-3">
            <input
              cFormControl
              name="card"
              [(ngModel)]="request.card"
              [valid]="validation.card ? false : undefined"
            />
            <label cLabel for="card">Carte</label>
            <c-form-feedback [valid]="validation.card ? false : undefined">{{
              validation.card
            }}</c-form-feedback>
          </div>
        </c-col>
        <c-col>
          <div *ngIf="renew" [cFormFloating]="true" class="mb-3">
            <button cButton>Ajouter carte</button>
          </div>
        </c-col>
      </c-row>
      <c-row class="row-detail">
        <c-col>
          <div [cFormFloating]="true">
            <textarea
              cFormControl
              id="observation"
              [(ngModel)]="request.observation"
              rows="5"
              [ngStyle]="{ 'height.px': 150 }"
            ></textarea>
            <label cLabel for="observation">Observation</label>
          </div>
        </c-col>
        <c-col>
          <div cFormFloating class="mb-3">
            <textarea
              cFormControl
              id="rejectionReason"
              [(ngModel)]="request.rejectionReason"
              [ngStyle]="{ 'height.px': 150 }"
            ></textarea>
            <label cLabel for="rejectionReason">Raison de rejet</label>
          </div>
        </c-col>
      </c-row>
      <c-row class="row-detail justify-content-md-center">
        <c-col>
          <button cButton (click)="save()">click</button>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</c-container>

<c-modal
  id="liveDemoModal"
  [visible]="modalOpen"
  alignment="center"
  (visibleChange)="handleModalChange($event)"
>
  <c-modal-body>
    <c-row style="margin-bottom: 40px">
      <label cLabel>Rajouter le compte</label>
    </c-row>
    <c-row>
      <c-container>
        <app-autocompleteinput
          placeholder="chercher par numero de compte ou nom de client"
          [fetchData]="fetchData.bind(this)"
          [formatData]="formatData"
          (objectSelect)="selectAccount($event.objectSelected)"
        ></app-autocompleteinput>
      </c-container>
    </c-row>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="cancelAccountSelection()" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="addAccount()">Save changes</button>
  </c-modal-footer>
</c-modal>
